{% extends "shared/base.html.twig" %}

{% block body %}
    <style>
        .form-control.textarea {
            resize: none;
            height: 200px;
        }
        .attr-field.required .field-label:after {
            content: "*";
            color: red;
        }
    </style>
    <h1>Occurrence Submission</h1>
    <hr/>
    <div class="">
        <div class="container">
            {{ form_start(form, {"attr": {"class": "form-group"}}) }}
                <div class="attr-field required">
                        <span class="field-label">
                            {{ form_label(form.subject) }}:
                        </span>
                        {{ form_widget(form.subject, {"attr": {"class": "form-control"}}) }}
                </div>
                <br/>
                <div class="attr-field required">
                        <span class="field-label">
                            {{ form_label(form.type) }}:
                        </span>
                        {{ form_widget(form.type, {"attr": {"class": "form-control"}}) }}
                </div>
                <br/>
                <div class="attr-field">
                        <span class="field-label">
                            {{ form_label(form.details) }}:
                        </span>
                        {{ form_widget(form.details, {"attr": {"class": "form-control textarea"}}) }}
                        <div align="right">
                            <div id="words">200 words</div>
                        </div>
                </div>
                <br/>
                <div class="attr-field required">
                        <span class="field-label">
                            {{ form_label(form.dateOfOccurrence) }}:
                        </span>
                        {{ form_widget(form.dateOfOccurrence, {"attr": {"class": "form-control js-datepicker"}}) }}
                </div>
                <br/>
                <div class="attr-field">
                        <span class="field-label">
                            <label id="submitting-as" for="form_anonymous">Submitting as: Anonymous</label>
                        </span>
                        <p>
                            {{ form_widget(form.anonymous, {"attr": {"class": "checkbox-inline", "label" : "ddd", "checked":"checked"}}) }}
                            I choose to submit anonymously.
                        </p>
                </div>
                <br/>
                <div class="attr-field container">
                    {{ form_label(form.submit) }}
                    {{ form_widget(form.submit, {"attr": {"class": "btn btn-info btn-ok"}}) }}
                    <a href="{{ path("home") }}"
                        class="btn btn-default">
                        Dismiss
                    </a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var textarea = document.getElementById("form_details");
            textarea.addEventListener("input", function(){
                var wom = this.value.match(/\S+/g);
                var wordsCount = wom ? wom.length : 0;
                var rem = 200 - wordsCount;
                var remaining = rem < 0 ? 0 : rem;
                $("#words").text(remaining + " words");
                $("#words").css("color", "black");
                var handle = $("#words").data('handle');
                if (handle) {
                    clearInterval(handle);
                    $("#words").data('handle', null);
                    $("#words").css('visibility', 'inherit');
                }
                if (remaining == 0 || this.value.length >= 1000) {
                    $("#form_submit").attr("disabled", true);
                    $("#words").text("Too long text!");
                    $("#words").css("color", "red");
                    var handle = setInterval(function() {
                        if ($("#words").css("visibility") === "visible") {
                            $("#words").css('visibility', 'hidden');
                        } else {
                            $("#words").css('visibility', 'visible');
                        }
                    }, 400);
                    $("#words").data('handle', handle);
                } else {
                    $("#form_submit").attr("disabled", false);
                }
            });
            jQuery.datetimepicker.setLocale('en');
            var dt = new Date();
            var currtime = dt.getHours() + ":" + (dt.getMinutes() >= 30 ? 30 : 0);
            $("#form_dateOfOccurrence").datetimepicker({
                roundTime:'floor',
                defaultTime:currtime,
                allowTimes:[
                    '06:00',
                    '06:30',
                    '07:00',
                    '07:30',
                    '08:00',
                    '08:30',
                    '09:00',
                    '09:30',
                    '10:00',
                    '10:30',
                    '11:00',
                    '11:30',
                    '12:00',
                    '12:30',
                    '13:00',
                    '13:30',
                    '14:00',
                    '14:30',
                    '15:00',
                    '15:30',
                    '16:00',
                    '16:30',
                    '17:00',
                    '17:30',
                    '18:00',
                    '18:30',
                    '19:00',
                    '19:30',
                    '20:00',
                    '20:30',
                    '21:00',
                    '21:30',
                    '22:00'
                ]
            });
            var currentdate = new Date(); 
            var datetime = (currentdate.getMonth() + 1) + "/"
                + currentdate.getDate() + "/" 
                + currentdate.getFullYear() + " - "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes();
            $("#date").text(datetime);
            $("#form_anonymous").on('change', function() {
                if ($(this).is(":checked")) {
                    $("#submitting-as").text("Submitting as: Anonymous");
                } else {
                    $("#submitting-as").text("Submitting as: {{ displayName }}");
                }
            });
        });
    </script>
{% endblock %}